<div>
  <h3>Welcome {{userEmail}}</h3>
</div>

<nav>
<div class="groove padding">
  <a routerLink="/send-notification">
    <img src="../../assets/images/send-email-icon.png"  class="img align-left" alt="Send Emails">
    <p>Compose and send new email[s]</p>
  </a>

</div>
<div class="groove padding">
  <a routerLink="/contacts">
    <img src="../../assets/images/contacts-icon.png"  class="img align-right" alt="Contacts page">
    <p>Go to contacts page</p>
  </a>
</div>
<div class="groove padding">
  <a routerLink="/notification-history">
    <img src="../../assets/images/history-icon.png" class="img align-centre" alt="History of notifications">
    <p>Check history of sent notifications</p>
  </a>
</div>
</nav>

